@font-face {
  font-family: 'MotivaSans-BoldItalic';
  src: url('../fonts/291F73_0_0.eot');
  src: url('../fonts/291F73_0_0.eot?#iefix') format('embedded-opentype'),
       url('../fonts/291F73_0_0.woff') format('woff'),
       url('../fonts/291F73_0_0.ttf') format('truetype'),
       url('../fonts/291F73_0_0.svg#MotivaSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* @font-face {
  font-family: 'MotivaSans-ExtraBoldItalic';
  src: url('../fonts/291F73_1_0.eot');
  src: url('../fonts/291F73_1_0.eot?#iefix') format('embedded-opentype'),
       url('../fonts/291F73_1_0.woff') format('woff'),
       url('../fonts/291F73_1_0.ttf') format('truetype'),
       url('../fonts/291F73_1_0.svg#MotivaSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
} */
@font-face {
  font-family: 'MotivaSans-LightItalic';
  src: url('../fonts/291F73_2_0.eot');
  src: url('../fonts/291F73_2_0.eot?#iefix') format('embedded-opentype'),
       url('../fonts/291F73_2_0.woff') format('woff'),
       url('../fonts/291F73_2_0.ttf') format('truetype'),
       url('../fonts/291F73_2_0.svg#MotivaSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MotivaSans-ExtraBold';
  src: url('../fonts/291F73_3_0.eot');
  src: url('../fonts/291F73_3_0.eot?#iefix') format('embedded-opentype'),
       url('../fonts/291F73_3_0.woff') format('woff'),
       url('../fonts/291F73_3_0.ttf') format('truetype'),
       url('../fonts/291F73_3_0.svg#MotivaSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MotivaSans-Medium';
  src: url('../fonts/291F73_4_0.eot');
  src: url('../fonts/291F73_4_0.eot?#iefix') format('embedded-opentype'),
       url('../fonts/291F73_4_0.woff') format('woff'),
       url('../fonts/291F73_4_0.ttf') format('truetype'),
       url('../fonts/291F73_4_0.svg#MotivaSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MotivaSans-Light';
  src: url('../fonts/291F73_5_0.eot');
  src: url('../fonts/291F73_5_0.eot?#iefix') format('embedded-opentype'),
       url('../fonts/291F73_5_0.woff') format('woff'),
       url('../fonts/291F73_5_0.ttf') format('truetype'),
       url('../fonts/291F73_5_0.svg#MotivaSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* @font-face {
  font-family: 'MotivaSans-MediumItalic';
  src: url('../fonts/291F73_6_0.eot');
  src: url('../fonts/291F73_6_0.eot?#iefix') format('embedded-opentype'),
       url('../fonts/291F73_6_0.woff') format('woff'),
       url('../fonts/291F73_6_0.ttf') format('truetype'),
       url('../fonts/291F73_6_0.svg#MotivaSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
} */
@font-face {
  font-family: 'MotivaSans-Regular';
  src: url('../fonts/291F73_7_0.eot');
  src: url('../fonts/291F73_7_0.eot?#iefix') format('embedded-opentype'),
       url('../fonts/291F73_7_0.woff') format('woff'),
       url('../fonts/291F73_7_0.ttf') format('truetype'),
       url('../fonts/291F73_7_0.svg#MotivaSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* @font-face {
  font-family: 'MotivaSans-RegularItalic';
  src: url('../fonts/291F73_8_0.eot');
  src: url('../fonts/291F73_8_0.eot?#iefix') format('embedded-opentype'),
       url('../fonts/291F73_8_0.woff') format('woff'),
       url('../fonts/291F73_8_0.ttf') format('truetype'),
       url('../fonts/291F73_8_0.svg#MotivaSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
} */
/* @font-face {
  font-family: 'MotivaSans-Thin';
  src: url('../fonts/291F73_9_0.eot');
  src: url('../fonts/291F73_9_0.eot?#iefix') format('embedded-opentype'),
       url('../fonts/291F73_9_0.woff') format('woff'),
       url('../fonts/291F73_9_0.ttf') format('truetype'),
       url('../fonts/291F73_9_0.svg#MotivaSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
} */
/* @font-face {
  font-family: 'MotivaSans-ThinItalic';
  src: url('../fonts/291F73_A_0.eot');
  src: url('../fonts/291F73_A_0.eot?#iefix') format('embedded-opentype'),
       url('../fonts/291F73_A_0.woff') format('woff'),
       url('../fonts/291F73_A_0.ttf') format('truetype'),
       url('../fonts/291F73_A_0.svg#MotivaSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
} */
/* @font-face {
  font-family: 'MotivaSans-Black';
  src: url('../fonts/291F73_B_0.eot');
  src: url('../fonts/291F73_B_0.eot?#iefix') format('embedded-opentype'),
       url('../fonts/291F73_B_0.woff') format('woff'),
       url('../fonts/291F73_B_0.ttf') format('truetype'),
       url('../fonts/291F73_B_0.svg#MotivaSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
} */
/* @font-face {
  font-family: 'MotivaSans-BlackItalic';
  src: url('../fonts/291F73_C_0.eot');
  src: url('../fonts/291F73_C_0.eot?#iefix') format('embedded-opentype'),
       url('../fonts/291F73_C_0.woff') format('woff'),
       url('../fonts/291F73_C_0.ttf') format('truetype'),
       url('../fonts/291F73_C_0.svg#MotivaSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
} */
@font-face {
  font-family: 'MotivaSans-Bold';
  src: url('../fonts/291F73_D_0.eot');
  src: url('../fonts/291F73_D_0.eot?#iefix') format('embedded-opentype'),
       url('../fonts/291F73_D_0.woff') format('woff'),
       url('../fonts/291F73_D_0.ttf') format('truetype'),
       url('../fonts/291F73_D_0.svg#MotivaSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: "MotivaSans-Regular", "Bookman Old Style", "Serifa BT", "URW Bookman L", "itc bookman", times, serif;
  color: #535353;
}

/* start Monitorama logo and mark */
.navbar-ttc {
  background-color: #000;
  margin-bottom: 0;
}

.navbar div.wrapper {
  margin: 28px 0;
}

.navbar .logo img {
  padding-bottom: 8px;
  width: 35%;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  .navbar .logo img {
    width: 50%;
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  .navbar .logo img {
    width: 65%;
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
  .navbar .logo img {
    width: 75%;
  }
}

.navbar .tagline {
  font-size: 1.4em;
  font-style: italic;
  color: #999;
}
/* end Monitorama logo and mark */

/* start Portland banner image */
div.banner {
  height: 250px;
  width: 100%;
  background: rgb(239, 239, 239) url('../images/portland-lg.png');
}

@media only screen and (max-width: 1465px) {
  div.banner {
    background: rgb(239, 239, 239) url('../images/portland.png');
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  div.banner {
    background-size: cover;
    height: 150px;
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  div.banner {
    background-size: cover;
    height: 200px;
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {
  div.banner {
    background-size: cover;
    height: 100px;
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
  div.banner {
    background-size: cover;
    height: 150px;
  }
}
/* end Portland banner image */

/* start Location info */
.location.wrapper {
  background-color: rgb(239, 239, 239);
}

.location.wrapper .container  {
  margin-top: -40px;
}

.location {
  background-color: rgb(0, 184, 137);
  border-radius: 8px;
  padding: 2px 0 10px 0;
}

.location h2 {
  font-family: "MotivaSans-Regular";
  font-size: x-large;
  color: #fff;
}

@media only screen and (max-width: 990px) {
  .location h2 {
    font-size: large;
  }
}
  
@media only screen and (max-width: 750px) {
  .location h2 {
    font-size: medium;
  }
}

@media only screen and (max-width: 650px) {
  .location h2 {
    font-size: small;
  }
}

.location span.circle {
  vertical-align: middle;
  font-family: "MotivaSans-ExtraBold";
  font-size: 0.7em;
  color: rgb(0, 133, 98);
  margin: 0 15px;
}

.location span.mini {
  vertical-align: middle;
  font-family: "MotivaSans-LightItalic";
  font-size: 0.6em;
  color: #fff;
}
/* end Location info */

/* start Navigation bar */
.navbar-default-ttc {
  border: none;
  background-color: rgb(239, 239, 239);
}

.navbar-header-ttc {
  width: 100%;
}

.navbar-header-ttc ul {
  margin: 7px 0;
}

.navbar-header-ttc a {
  color: #838383;
  text-transform: uppercase;
  font-size: medium;
}

@media only screen and (max-width: 990px) {
  .navbar-header-ttc a {
    font-size: medium;
  }
}

@media only screen and (max-width: 750px) {
  .navbar-header-ttc a {
    font-size: small;
  }
}

@media only screen and (max-width: 650px) {
  .navbar-header-ttc a {
    font-size: x-small;
  }
}

.navbar-header-ttc a.active {
  color: #333;
}

.navbar-header-ttc a:hover {
  color: #bbb;
}

.navbar-header-ttc.navbar ul {
  list-style-type: none;
}

.navbar-header-ttc ul li {
  display: inline-block;
  height: 50px;
  padding: 0 20px;
}

.navbar-header-ttc ul li a {
  display: block;
  margin-top: 8px;
  text-decoration: none;
}

.navbar-header-ttc ul li a:focus {
  outline: none;
}
/* end Navigation bar */

/* start Corner Ribbon */
/* .ribbon {
  background-color: rgb(223, 116, 0);
  overflow: hidden;
  position: absolute;
  left: -3.2em;
  top: 2.5em;
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  box-shadow: 0 0 2em rgba(255, 255, 255, 0.65);
  -moz-box-shadow: 0 0 2em rgba(255, 255, 255, 0.65);
  -webkit-box-shadow: 0 0 2em rgba(255, 255, 255, 0.65);
}

.ribbon a {
  overflow: hidden;
  border: 5px solid rgb(255, 133, 0);
  color: #fff;
  display: block;
  font: bold 81.25% 'Helvetiva Neue', Helvetica, Arial, sans-serif;
  margin: 0.05em 0;
  padding: 0.1em 3.5em;
  text-align: center;
  text-decoration: none;
} */
/* end Corner Ribbon */

section {
  display: none;
  height: 0;
  padding-bottom: 60px;
}

section h4 {
  font-family: "MotivaSans-Medium";
  font-size: 2.4em;
  color: rgb(0, 184, 137);
  margin: 50px 0;
}

section h5 {
  font-family: "MotivaSans-Medium";
  font-size: 1.6em;
  margin-bottom: 25px;
}

section p, section span {
  text-align: left;
  font-family: "MotivaSans-Light";
  font-size: 1.4em;
  line-height: 1.8em;
  color: #818181;
  margin-bottom: 70px;
}

section p a, section p a:hover {
  color: rgb(0, 184, 137);
}

section p em, section span em {
  font-family: "MotivaSans-BoldItalic";
  margin-right: 4px;
}

section.welcome {
  display: block;
  height: auto;
}

.cfp span.special {
  font-size: inherit;
  font-style: italic;
  color: rgb(0, 184, 137);
}

.speakers ul {
  list-style-type: none;
  line-height: 1.3em;
}

.speakers li {
  text-align: left;
  margin-bottom: 0;
}

.speakers li img {
  float: left;
  margin: 0 30px 10px 0;
  border-radius: 50%;
}

.speakers li span {
  line-height: normal;
}

.speakers li span.name {
  font-weight: bold;
}

.speakers li span.github, .speakers li span.twitter, .speakers li span.slides {
  float: right;
  margin: 0;
}

.speakers li span.github a i, .speakers li span.twitter a i, .speakers li span.slides a i {
  text-decoration: none;
  color: #C0BFBF;
}

.speakers li span.twitter, .speakers li span.slides {
  margin-left: 15px;
}

.speakers li span.github a:hover i {
  color: #000;
}

.speakers li span.twitter a:hover i {
  color: rgb(47, 138, 231);
}

.speakers li p.bio {
  border-top: 1px solid #e4e4d4;
  margin-top: 10px;
  padding-top: 10px;
  font-size: 0.9em;
}

.schedule table {
  margin: auto;
}

.schedule th {
  padding: 40px 14px 14px 14px;
}

.schedule tr.tall {
  height: 6em;
}

.schedule .short td {
  padding: 0;
}

.schedule td {
  padding: 12px 40px;
  border: 1px solid rgb(213, 213, 213);
  font-size: 0.9em;
  line-height: 1.5em;
}

.schedule td.break {
  background-color: rgb(213, 213, 213);
}

.schedule td.sponsor-talk, .schedule td.special {
  background-color: rgb(236, 236, 236);
}

.hackday p strong {
  font-size: 1.2em;
  color: rgb(34, 141, 14);
  margin-right: 10px;
}

div.sponsor {
  margin-bottom: 50px;
}

.sponsor img, .venue img {
  margin: 20px 0;
}

.sponsor p {
  margin-bottom: 20px;
}

.sponsor ul {
  margin: 0 auto 30px;
}

.sponsor li {
  text-align: left;
  line-height: 1.8em;
  margin-left: 15%;
}

div.prospectus {
  border-top: 1px solid rgb(213, 213, 213);
  padding-top: 50px;
  margin-top: 75px;
}

.prospectus h5 * {
  vertical-align: middle;
}

.prospectus img {
  margin: 0 0 5px 0;
}

.prospectus ul {
  list-style-type: none;
  margin-bottom: 30px;
}

.prospectus li {
  font-size: 1.2em;
  line-height: 1.8em;
}

.venue img#mcs_nerd {
  width: 300px;
}

.travel ul {
  list-style: none;
}

.travel li {
  text-align: left;
  line-height: 2.0em;
}

.travel li img {
  margin-right: 15px;
}

.travel span.highlight {
  font-size: 1.0em;
  color: red;
}

div.marquee {
  text-align: center;
  padding-top: 25px;
  border-top: 1px solid #ddd;
}

.marquee img {
  height: 25px;
  margin: 0 15px 25px;
}

footer {
  background: #333;
  padding: 50px;
}

footer * {
  color: #ccc;
}

footer h5 {
  color: rgb(0, 184, 137);
}

footer ul {
  list-style: none;
}

footer ul li * {
  font-family: "MotivaSans-Light";
}

footer ul li a:hover {
  color: #fff;
}

footer #copyright {
  margin-top: 40px;
}

footer #copyright img {
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -ms-filter: grayscale(1);
  -o-filter: grayscale(1);
  filter: grayscale(1);
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  height: 30px;
  margin-bottom: 20px;
}

footer #copyright img:hover {
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -ms-filter: grayscale(0);
  -o-filter: grayscale(0);
  filter: grayscale(0);
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
}

.signup span.required {
  line-height: inherit;
  color: red;
  vertical-align: -webkit-baseline-middle;
}
