@font-face {
  font-family: 'ChunkFive';
  src: url('../fonts/Chunkfive-webfont.eot');
  src: url('../fonts/Chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Chunkfive-webfont.woff') format('woff'),
       url('../fonts/Chunkfive-webfont.ttf') format('truetype'),
       url('../fonts/Chunkfive-webfont.svg#ChunkFive') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Arvo-Regular';
  src: url('../fonts/Arvo-Regular-webfont.eot');
  src: url('../fonts/Arvo-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Arvo-Regular-webfont.woff') format('woff'),
       url('../fonts/Arvo-Regular-webfont.ttf') format('truetype'),
       url('../fonts/Arvo-Regular-webfont.svg#Arvo-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Arvo-Italic';
  src: url('../fonts/Arvo-Italic-webfont.eot');
  src: url('../fonts/Arvo-Italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Arvo-Italic-webfont.woff') format('woff'),
       url('../fonts/Arvo-Italic-webfont.ttf') format('truetype'),
       url('../fonts/Arvo-Italic-webfont.svg#Arvo-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Arvo-Bold';
  src: url('../fonts/Arvo-Bold-webfont.eot');
  src: url('../fonts/Arvo-Bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Arvo-Bold-webfont.woff') format('woff'),
       url('../fonts/Arvo-Bold-webfont.ttf') format('truetype'),
       url('../fonts/Arvo-Bold-webfont.svg#Arvo-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Arvo-BoldItalic';
  src: url('../fonts/Arvo-BoldItalic-webfont.eot');
  src: url('../fonts/Arvo-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Arvo-BoldItalic-webfont.woff') format('woff'),
       url('../fonts/Arvo-BoldItalic-webfont.ttf') format('truetype'),
       url('../fonts/Arvo-BoldItalic-webfont.svg#Arvo-BoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Arvo-Regular", "Bookman Old Style", "Serifa BT", "URW Bookman L", "itc bookman", times, serif;
  color: #535353;
}

header {
  height: 50px;
  background-color: #000;
  text-align: center;
}

header a {
  color: #838383;
}

header a.active {
  color: #bbb;
}

header a:hover {
  color: #bbb;
}

header ul {
  list-style-type: none;
}

header ul li {
  display: inline-block;
  height: 50px;
  padding: 0 20px;
}

header ul li a {
  display: block;
  margin-top: 17px;
  text-decoration: none;
}

.slider {
  height: 400px;
  background: url(../images/monitorama-bgclear.png) center -205px no-repeat;
  background: url(../images/monitorama-bgclear.png) center -205px no-repeat, #cfe7fa; /* Old browsers */
  background: url(../images/monitorama-bgclear.png) center -205px no-repeat, -moz-radial-gradient(center, ellipse cover,  #cfe7fa 0%, #122c4e 100%); /* FF3.6+ */
  background: url(../images/monitorama-bgclear.png) center -205px no-repeat, -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#cfe7fa), color-stop(100%,#122c4e)); /* Chrome,Safari4+ */
  background: url(../images/monitorama-bgclear.png) center -205px no-repeat, -webkit-radial-gradient(center, ellipse cover,  #cfe7fa 0%,#122c4e 100%); /* Chrome10+,Safari5.1+ */
  background: url(../images/monitorama-bgclear.png) center -205px no-repeat, -o-radial-gradient(center, ellipse cover,  #cfe7fa 0%,#122c4e 100%); /* Opera 12+ */
  background: url(../images/monitorama-bgclear.png) center -205px no-repeat, -ms-radial-gradient(center, ellipse cover,  #cfe7fa 0%,#122c4e 100%); /* IE10+ */
  background: url(../images/monitorama-bgclear.png) center -205px no-repeat, radial-gradient(ellipse at center,  #cfe7fa 0%,#122c4e 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfe7fa', endColorstr='#122c4e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.slider h1 {
  display: none;
}

.slider h2 {
  padding-top: 32px;
}

.slider h2, .slider h3 {
  text-align: center;
  color: rgb(226, 226, 160);
  text-shadow: 2px 2px #000;
}

.slider h3 {
  margin-top: 285px;
}

#main {
  margin: 0 20%;
  padding: 50px;
  min-height: 200px;
  text-align: center;
}

section {
  display: none;
  height: 0;
}

section h4 {
  font-size: 2.4em;
  margin-bottom: 30px;
}

section h5 {
  font-size: 1.6em;
  margin-bottom: 25px;
}

section p, section span {
  text-align: left;
  font-size: 1.2em;
  line-height: 1.8em;
  color: #696969;
  margin-bottom: 30px;
}

section p em, section span em {
  font-family: "Arvo-BoldItalic";
  margin-right: 4px;
}

section.welcome {
  display: block;
  height: auto;
}

.speakers ul {
  list-style-type: none;
  line-height: 1.3em;
}

.speakers li {
  font-size: 1.2em;
  line-height: 1.8em;
  text-align: left;
  padding-bottom: 30px;
}

.speakers li img {
  float: left;
  margin: 0 30px 10px 0;
}

.speakers li span.name {
  font-weight: bold;
  font-size: 1.0em;
}

.speakers li span.github, .speakers li span.twitter {
  float: right;
  margin: 0;
}

.speakers li span.github a, .speakers li span.twitter a {
  font-size: 0.6em;
  text-decoration: none;
  color: #919191;
}

.speakers li span.twitter {
  margin-left: 15px;
}

.speakers li span.github a:hover, .speakers li span.twitter a:hover {
  color: green;
}

.speakers li p.bio {
  border-top: 1px solid #e4e4d4;
  margin-top: 10px;
  padding-top: 10px;
  font-size: 0.8em;
}

.schedule table {
  margin: auto;
}

.schedule th {
  padding: 40px 14px 14px 14px;
}

.schedule tr.tall {
  height: 6em;
}

.schedule td {
  padding: 12px 40px;
  border: 1px solid #d5d5d5;
  font-size: 0.9em;
  line-height: 1.5em;
}

.schedule td.special {
  background-color: #d5d5d5;
}

.sponsors img, .venue img {
  margin: 20px 0;
}

div.prospectus {
  border-top: 1px solid #d5d5d5;
  padding-top: 50px;
  margin-top: 75px;
}

.prospectus h5 * {
  vertical-align: middle;
}

.prospectus img {
  margin: 0 0 5px 0;
}

.prospectus ul {
  list-style-type: none;
  margin-bottom: 30px;
}

.prospectus li {
  font-size: 1.2em;
  line-height: 1.8em;
}

.venue img#mcs_nerd {
  width: 300px;
}

.travel ul {
  list-style: none;
}

.travel li {
  text-align: left;
  line-height: 2.0em;
}

.travel li img {
  margin-right: 15px;
}

.travel span.highlight {
  font-size: 1.0em;
  color: red;
}

footer {
  background: #333;
  padding: 50px;
  text-align: center;
  min-height: 200px;
}

footer p {
  color: #ccc;
  margin-bottom: 20px;
}

footer p a {
  color: rgb(226, 226, 160);
}

